# Attribute definitions
# For "linguist-language" values, see https://github.com/github-linguist/linguist/blob/master/lib/linguist/languages.yml
[attr]adb   linguist-detectable linguist-language=AdBlock
[attr]json  linguist-detectable linguist-language=jsonc
[attr]hosts linguist-detectable linguist-language=hosts

# Hosts filter files test ( https://marketplace.visualstudio.com/items?itemName=tommasov.hosts / https://github.com/AdguardTeam/VscodeAdblockSyntax/issues/70#issuecomment-1510467839 / https://github.com/github/linguist/issues/6389 )
AntiMalwareHosts.txt linguist-detectable linguist-language=hosts text
AdawayHosts linguist-detectable linguist-language=hosts text
AntiAmazonListForTwitchHosts.txt linguist-detectable linguist-language=hosts text
*(Hosts).txt linguist-detectable linguist-language=hosts text
Adblock?list?template?-Hosts?and?uBlock?Origin-.txt linguist-detectable linguist-language=hosts text
NordicFiltersHostsIPv6.txt linguist-detectable linguist-language=hosts text
*Hosts.txt linguist-detectable linguist-language=hosts text

# AdBlock filter files
*ABP.txt linguist-detectable linguist-language=AdBlock text
*AdblockerExtension.txt linguist-detectable linguist-language=AdBlock text
*AdGuard.txt linguist-detectable linguist-language=AdBlock text
*AdGuardHome.txt linguist-detectable linguist-language=AdBlock text
*AGH.txt linguist-detectable linguist-language=AdBlock text
*De-Politificator.txt linguist-detectable linguist-language=AdBlock text
*MinerBlock.txt linguist-detectable linguist-language=AdBlock text
*UBO.txt linguist-detectable linguist-language=AdBlock text
*uBOExtension.txt linguist-detectable linguist-language=AdBlock text
*uBOLegacy.txt linguist-detectable linguist-language=AdBlock text
a.txt linguist-detectable linguist-language=AdBlock text
a?—?AdGuard?Home?Miscellaneous.txt linguist-detectable linguist-language=AdBlock text
Adblock?list?template?-Beginner-.txt linguist-detectable linguist-language=AdBlock text
Adblock?list?template?-Novice-.txt linguist-detectable linguist-language=AdBlock text
AdGuardHome*.txt linguist-detectable linguist-language=AdBlock text
AdGuardSafeBrowsing-ReverseEngineered.txt linguist-detectable linguist-language=AdBlock text
AdRemovalListForUnusualAds.txt linguist-detectable linguist-language=AdBlock text
AfricanLanguagesList.txt linguist-detectable linguist-language=AdBlock text
Android?Scum?Class?—?Fake?notification?counters.txt linguist-detectable linguist-language=AdBlock text
AnnoyancesList-2ndDivision.txt linguist-detectable linguist-language=AdBlock text
AnnoyingBannersAndOverlays.txt linguist-detectable linguist-language=AdBlock text
Anti-'Battle?Royale'?List.txt linguist-detectable linguist-language=AdBlock text
Anti-'Christmas?carols'?List.txt linguist-detectable linguist-language=AdBlock text
Anti-'Custom?cursors'?List.txt linguist-detectable linguist-language=AdBlock text
Anti-'Google?Hangouts'?List.txt linguist-detectable linguist-language=AdBlock text
Anti-'StockVectorArtOnCopypasteBackgrounds'.txt linguist-detectable linguist-language=AdBlock text
Anti-Elsagate?List.txt linguist-detectable linguist-language=AdBlock text
Anti-Futa?List.txt linguist-detectable linguist-language=AdBlock text
Anti-FіМ?List.txt linguist-detectable linguist-language=AdBlock text
Anti-IMDB?List.txt linguist-detectable linguist-language=AdBlock text
Anti-Skype?List.txt linguist-detectable linguist-language=AdBlock text
AntiAbusePorn.txt linguist-detectable linguist-language=AdBlock text
AntiAdblockEntries.txt linguist-detectable linguist-language=AdBlock text
AntiAdoptablesList.txt linguist-detectable linguist-language=AdBlock text
AntiAdventureTimeList.txt linguist-detectable linguist-language=AdBlock text
AntiAmazonListForTwitch.txt linguist-detectable linguist-language=AdBlock text
AntiAmazonListForTwitchDomains.txt linguist-detectable linguist-language=AdBlock text
AntiAnthroCombatWaifuList.txt linguist-detectable linguist-language=AdBlock text
AntiAstrologyList.txt linguist-detectable linguist-language=AdBlock text
AntiAwfulCommentsList.txt linguist-detectable linguist-language=AdBlock text
AntiBadCapitalismList.txt linguist-detectable linguist-language=AdBlock text
AntiCartoonHipsterList.txt linguist-detectable linguist-language=AdBlock text
AntiCorruptSportsList.txt linguist-detectable linguist-language=AdBlock text
AntiF%D1%96%D0%9C%20ListDomains.txt linguist-detectable linguist-language=AdBlock text
AntiFakeTransparentImagesList.txt linguist-detectable linguist-language=AdBlock text
AntiFaviconList.txt linguist-detectable linguist-language=AdBlock text
AntiFunctionalityRemovalList.txt linguist-detectable linguist-language=AdBlock text
AntiGachaAndKnockoffGamesList.txt linguist-detectable linguist-language=AdBlock text
AntiHivemindCartoonTrashingList.txt linguist-detectable linguist-language=AdBlock text
AntiHivemindCartoonTrashingListDomains.txt linguist-detectable linguist-language=AdBlock text
AntiKpopNitter.txt linguist-detectable linguist-language=AdBlock text
AntiKpopSpammersTwitter.txt linguist-detectable linguist-language=AdBlock text
AntiMacroList.txt linguist-detectable linguist-language=AdBlock text
AntiMalwareDomains.txt linguist-detectable linguist-language=AdBlock text
AntiMV3List.txt linguist-detectable linguist-language=AdBlock text
AntiNonNewsList.txt linguist-detectable linguist-language=AdBlock text
AntiOwlHouseList.txt linguist-detectable linguist-language=AdBlock text
AntiPCPriceHiderList.txt linguist-detectable linguist-language=AdBlock text
AntiPepeList.txt linguist-detectable linguist-language=AdBlock text
AntiPorkMeatOnRestaurantMenusList.txt linguist-detectable linguist-language=AdBlock text
AntiPPGList.txt linguist-detectable linguist-language=AdBlock text
AntiPrayerTimesList.txt linguist-detectable linguist-language=AdBlock text
AntiPreacherList.txt linguist-detectable linguist-language=AdBlock text
AntiRacismList.txt linguist-detectable linguist-language=AdBlock text
AntiSnowMarketingList.txt linguist-detectable linguist-language=AdBlock text
AntiStevenUniverseList.txt linguist-detectable linguist-language=AdBlock text
AntiStevenUniverseListDomains.txt linguist-detectable linguist-language=AdBlock text
AntiSubmissiveEroticaList.txt linguist-detectable linguist-language=AdBlock text
AntiWeebBoobGamesList.txt linguist-detectable linguist-language=AdBlock text
BrowseWebsitesWithoutLoggingIn.txt linguist-detectable linguist-language=AdBlock text
BrowseWebsitesWithoutLoggingInDomains.txt linguist-detectable linguist-language=AdBlock text
clear_urls_uboified.txt linguist-detectable linguist-language=AdBlock text
DailyMotionSimplicity.txt linguist-detectable linguist-language=AdBlock text
Dandelion?Sprout's?Anti-Malware?List.txt linguist-detectable linguist-language=AdBlock text
Dandelion?Sprout's?Anti-Religion?List.txt linguist-detectable linguist-language=AdBlock text
Dandelion?Sprout's?Website?Stretcher.txt linguist-detectable linguist-language=AdBlock text
DandelionSproutsNorskeFiltreDomains.txt linguist-detectable linguist-language=AdBlock text
deviantART?Sanity?Test?List.txt linguist-detectable linguist-language=AdBlock text
DeviantARTQualityArtMagnifier.txt linguist-detectable linguist-language=AdBlock text
DummyList.txt linguist-detectable linguist-language=AdBlock text
EkstraBladetEroticContentRemover.txt linguist-detectable linguist-language=AdBlock text
EmptyPaddingRemover.txt linguist-detectable linguist-language=AdBlock text
ExtremelyCondensedList.txt linguist-detectable linguist-language=AdBlock text
FalukorvList.txt linguist-detectable linguist-language=AdBlock text
GameConsoleAdblockList.txt linguist-detectable linguist-language=AdBlock text
GDPR?451?List.txt linguist-detectable linguist-language=AdBlock text
HaveIBeenPwnedPasteRemover.txt linguist-detectable linguist-language=AdBlock text
I?Don't?Want?to?Download?Your?Browser.txt linguist-detectable linguist-language=AdBlock text
IDNHomographProtection-USLatinTLDsOnly.txt linguist-detectable linguist-language=AdBlock text
IDNHomographProtectionTotal.txt linguist-detectable linguist-language=AdBlock text
IHateOverpromotedGames.txt linguist-detectable linguist-language=AdBlock text
ImgurPureImageryExperience.txt linguist-detectable linguist-language=AdBlock text
Imperial?Units?Remover.txt linguist-detectable linguist-language=AdBlock text
JapaneseTextSoftener.txt linguist-detectable linguist-language=AdBlock text
KnowYourMemePureBrowsingExperience.txt linguist-detectable linguist-language=AdBlock text
LegitimateURLShortener-AffiliateTagAllowlist.txt linguist-detectable linguist-language=AdBlock text
LegitimateURLShortener.txt linguist-detectable linguist-language=AdBlock text
ListForOldPeople.txt linguist-detectable linguist-language=AdBlock text
ListForYoungPeople.txt linguist-detectable linguist-language=AdBlock text
MediaPlayerGradientRemover.txt linguist-detectable linguist-language=AdBlock text
MeWe?Pink?Theme.txt linguist-detectable linguist-language=AdBlock text
MeWeHappyTimeFunClub.txt linguist-detectable linguist-language=AdBlock text
NordicFilters-FirefoxAndroidUBOWorkaround.txt linguist-detectable linguist-language=AdBlock text
NordicFilters-NotBrave.txt linguist-detectable linguist-language=AdBlock text
NordicFilters-NotFirefox.txt linguist-detectable linguist-language=AdBlock text
NordicFilters-uMatrixSupplement.txt linguist-detectable linguist-language=AdBlock text
NordicFiltersABP-Inclusion.txt linguist-detectable linguist-language=AdBlock text
NordicFiltersDomainsAllowlist.txt linguist-detectable linguist-language=AdBlock text
NordicFiltersPiHole.txt linguist-detectable linguist-language=AdBlock text
NordicFiltersPrivacy.txt linguist-detectable linguist-language=AdBlock text
NordicFiltersRPZ.txt linguist-detectable linguist-language=AdBlock text
NorwegianCashbackAssistantReborn.txt linguist-detectable linguist-language=AdBlock text
NorwegianList.txt linguist-detectable linguist-language=AdBlock text
PokémonNoGOZone.txt linguist-detectable linguist-language=AdBlock text
Pro-LED?List.txt linguist-detectable linguist-language=AdBlock text
RedditTrashRemovalService.txt linguist-detectable linguist-language=AdBlock text
RickrollLinkIdentifier.txt linguist-detectable linguist-language=AdBlock text
SayNoToRacismOnTwitch.txt linguist-detectable linguist-language=AdBlock text
SerboCroatianList.txt linguist-detectable linguist-language=AdBlock text
SocialShareList.txt linguist-detectable linguist-language=AdBlock text
StopAutoplayOnYouTube.txt linguist-detectable linguist-language=AdBlock text
TabloidRemover.txt linguist-detectable linguist-language=AdBlock text
TwitchEvenMorePureViewingExperience.txt linguist-detectable linguist-language=AdBlock text
TwitchPureViewingExperience.txt linguist-detectable linguist-language=AdBlock text
TwitterPureReadingExperience.txt linguist-detectable linguist-language=AdBlock text
UndertaleRemoverForSoundCloud.txt linguist-detectable linguist-language=AdBlock text
Username?Hider?for?Compilation?Creators.txt linguist-detectable linguist-language=AdBlock text
VeryThoroughWebsiteCleaner.txt linguist-detectable linguist-language=AdBlock text
WebsiteStretcher4K.txt linguist-detectable linguist-language=AdBlock text
WebsiteStretcherVertical.txt linguist-detectable linguist-language=AdBlock text
WikiaPureBrowsingExperience.txt linguist-detectable linguist-language=AdBlock text
WikiaPureBrowsingExperienceDomains.txt linguist-detectable linguist-language=AdBlock text
WordPressTranslatorAssistant.txt linguist-detectable linguist-language=AdBlock text
YouTubeEvenMorePureVideoExperience.txt linguist-detectable linguist-language=AdBlock text
YouTubeYetEvenMorePureVideoExperience.txt linguist-detectable linguist-language=AdBlock text
*.notlist adb text
AnnoyancesList adb text
AntiCelebBirthList adb text
Adblocking?Open?Filter?JP adb text
Adblock?Plus*test?for?AdBlock adb text
Czech?Filters?for?Adblock?Plus adb text
Staying?On?The?Phone?Browser adb text

# JSON-ish data
*.lsrules json
/ClearURLs*/hash.txt json
/Wiki/Dandelion?Sprout*DNS*.txt json

# Test for https://github.com/DandelionSprout/adfilt/issues/819
# If iam-py-test is going to use PowerShell/CMD for list version generation, then this line will likely be needed again
* text=auto eol=lf

# Note to self: If I ever find any coloration errors for entry types, report such cases to https://github.com/ameshkov/VscodeAdblockSyntax/issues
