# Attribute definitions
[attr]adb   linguist-detectable linguist-language=AdBlock
[attr]json -linguist-detectable linguist-language=JSONC

# AdBlock filter files
*.txt adb
*.notlist adb
AdawayHosts adb
AnnoyancesList adb
AntiCelebBirthList adb
Adblocking?Open?Filter?JP adb
Adblock?Plus*test?for?AdBlock adb
Czech?Filters?for?Adblock?Plus adb
Staying?On?The?Phone?Browser adb

# JSON-ish data
*.lsrules json
/ClearURLs*/hash.txt json
/Wiki/Dandelion?Sprout*DNS*.txt json
