# Attribute definitions
# For "linguist-language" values, see https://github.com/github-linguist/linguist/blob/master/lib/linguist/languages.yml
[attr]adb   linguist-detectable linguist-language=AdBlock
[attr]json  linguist-detectable linguist-language=jsonc
[attr]hosts linguist-detectable linguist-language=hosts

# Hosts filter files test ( https://marketplace.visualstudio.com/items?itemName=tommasov.hosts / https://github.com/AdguardTeam/VscodeAdblockSyntax/issues/70#issuecomment-1510467839 / https://github.com/github/linguist/issues/6389 )
AntiMalwareHosts.txt linguist-detectable linguist-language=hosts
AntiAmazonListForTwitchHosts.txt linguist-detectable linguist-language=hosts
*(Hosts).txt linguist-detectable linguist-language=hosts
Adblock?list?template?-Hosts?and?uBlock?Origin-.txt linguist-detectable linguist-language=hosts
NordicFiltersHostsIPv6.txt linguist-detectable linguist-language=hosts
*Hosts.txt linguist-detectable linguist-language=hosts

# AdBlock filter files
*ABP.txt linguist-detectable linguist-language=AdBlock
*AdblockerExtension.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
*AdGuard.txt linguist-detectable linguist-language=AdBlock
*AdGuardHome.txt linguist-detectable linguist-language=AdBlock
*AGH.txt linguist-detectable linguist-language=AdBlock
*De-Politificator.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
*MinerBlock.txt linguist-detectable linguist-language=AdBlock
*UBO.txt linguist-detectable linguist-language=AdBlock
*uBOExtension.txt linguist-detectable linguist-language=AdBlock
*uBOLegacy.txt linguist-detectable linguist-language=AdBlock
a.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
a?—?AdGuard?Home?Miscellaneous.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
Adblock?list?template?-Beginner-.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
Adblock?list?template?-Novice-.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AdGuardHome*.txt linguist-detectable linguist-language=AdBlock
AdGuardSafeBrowsing-ReverseEngineered.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AdRemovalListForUnusualAds.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AfricanLanguagesList.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
Android?Scum?Class?—?Fake?notification?counters.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AnnoyancesList-2ndDivision.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AnnoyingBannersAndOverlays.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
Anti-'Battle?Royale'?List.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
Anti-'Christmas?carols'?List.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
Anti-'Custom?cursors'?List.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
Anti-'Google?Hangouts'?List.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
Anti-'StockVectorArtOnCopypasteBackgrounds'.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
Anti-Elsagate?List.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
Anti-Futa?List.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
Anti-FіМ?List.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
Anti-IMDB?List.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
Anti-Skype?List.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AntiAbusePorn.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AntiAdblockEntries.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AntiAdoptablesList.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AntiAdventureTimeList.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AntiAmazonListForTwitch.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AntiAmazonListForTwitchDomains.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AntiAnthroCombatWaifuList.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AntiAstrologyList.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AntiAwfulCommentsList.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AntiBadCapitalismList.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AntiCartoonHipsterList.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AntiCorruptSportsList.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AntiF%D1%96%D0%9C%20ListDomains.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AntiFakeTransparentImagesList.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AntiFaviconList.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AntiFunctionalityRemovalList.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AntiGachaAndKnockoffGamesList.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AntiHivemindCartoonTrashingList.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AntiHivemindCartoonTrashingListDomains.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AntiKpopNitter.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AntiKpopSpammersTwitter.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AntiMacroList.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AntiMalwareDomains.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AntiMV3List.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AntiNonNewsList.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AntiOwlHouseList.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AntiPCPriceHiderList.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AntiPepeList.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AntiPorkMeatOnRestaurantMenusList.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AntiPPGList.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AntiPrayerTimesList.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AntiPreacherList.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AntiRacismList.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AntiSnowMarketingList.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AntiStevenUniverseList.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AntiStevenUniverseListDomains.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AntiSubmissiveEroticaList.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
AntiWeebBoobGamesList.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
BrowseWebsitesWithoutLoggingIn.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
BrowseWebsitesWithoutLoggingInDomains.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
clear_urls_uboified.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
DailyMotionSimplicity.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
Dandelion?Sprout's?Anti-Malware?List.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
Dandelion?Sprout's?Anti-Religion?List.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
Dandelion?Sprout's?Website?Stretcher.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
DandelionSproutsNorskeFiltreDomains.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
deviantART?Sanity?Test?List.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
DeviantARTQualityArtMagnifier.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
DummyList.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
EkstraBladetEroticContentRemover.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
EmptyPaddingRemover.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
ExtremelyCondensedList.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
FalukorvList.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
GameConsoleAdblockList.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
GDPR?451?List.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
HaveIBeenPwnedPasteRemover.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
I?Don't?Want?to?Download?Your?Browser.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
IDNHomographProtection-USLatinTLDsOnly.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
IDNHomographProtectionTotal.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
IHateOverpromotedGames.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
ImgurPureImageryExperience.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
Imperial?Units?Remover.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
JapaneseTextSoftener.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
KnowYourMemePureBrowsingExperience.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
LegitimateURLShortener* linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
ListForOldPeople.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
ListForYoungPeople.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
MediaPlayerGradientRemover.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
MeWe?Pink?Theme.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
MeWeHappyTimeFunClub.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
NordicFilters-FirefoxAndroidUBOWorkaround.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
NordicFilters-NotBrave.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
NordicFilters-NotFirefox.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
NordicFilters-uMatrixSupplement.txt linguist-detectable linguist-language=AdBlock
NordicFiltersABP-Inclusion.txt linguist-detectable linguist-language=AdBlock
NordicFiltersDomainsAllowlist.txt linguist-detectable linguist-language=AdBlock
NordicFiltersPiHole.txt linguist-detectable linguist-language=AdBlock
NordicFiltersPrivacy.txt linguist-detectable linguist-language=AdBlock
NordicFiltersRPZ.txt linguist-detectable linguist-language=AdBlock
NorwegianCashbackAssistantReborn.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
NorwegianList.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
PokémonNoGOZone.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
Pro-LED?List.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
RedditTrashRemovalService.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
RickrollLinkIdentifier.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
SayNoToRacismOnTwitch.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
SerboCroatianList.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
SocialShareList.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
StopAutoplayOnYouTube.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
TabloidRemover.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
TwitchEvenMorePureViewingExperience.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
TwitchPureViewingExperience.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
TwitterPureReadingExperience.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
UndertaleRemoverForSoundCloud.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
Username?Hider?for?Compilation?Creators.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
VeryThoroughWebsiteCleaner.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
WebsiteStretcher4K.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
WebsiteStretcherVertical.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
WikiaPureBrowsingExperience.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
WikiaPureBrowsingExperienceDomains.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
WordPressTranslatorAssistant.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
YouTubeEvenMorePureVideoExperience.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
YouTubeYetEvenMorePureVideoExperience.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
YouTubeEvenMorePureVideoExperience-AdGuardApps.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
Dandelion?Sprout's?Anti-Malware?List?—?AdGuardOnlyEntries.txt linguist-detectable linguist-language=AdBlock working-tree-encoding=UTF-8-BOM
*.notlist adb working-tree-encoding=UTF-8-BOM
AnnoyancesList adb working-tree-encoding=UTF-8-BOM
AntiCelebBirthList adb working-tree-encoding=UTF-8-BOM
Adblocking?Open?Filter?JP adb working-tree-encoding=UTF-8-BOM
Adblock?Plus*test?for?AdBlock adb working-tree-encoding=UTF-8-BOM
Czech?Filters?for?Adblock?Plus adb working-tree-encoding=UTF-8-BOM
Staying?On?The?Phone?Browser adb working-tree-encoding=UTF-8-BOM

# JSON-ish data
*.lsrules json
/ClearURLs*/hash.txt json
/Wiki/Dandelion?Sprout*DNS*.txt json

# Test for https://github.com/DandelionSprout/adfilt/issues/819
# If iam-py-test is going to use PowerShell/CMD for list version generation, then this line will likely be needed again
#* text
#text eol=lf

# Note to self: If I ever find any coloration errors for entry types, report such cases to https://github.com/ameshkov/VscodeAdblockSyntax/issues

# There seems to be no documentation whatsoever anywhere online (or elsewhere) about if working-tree-encoding supports UTF-8-SIG, UTF-8-BOM, both, or neither.
